{% extends 'base.html' %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center" style="padding-top: 200px;">
        <!-- CTA text box -->
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center bg-light opacity-75 bg-gradient rounded-2 text-center">
            <h1 class="py-2 px-3 opacity-100 text-center">Natural & Biodynamic Wines – Thoughtfully Sourced, Honestly Made.</h1>
        </div>
        <!-- Enter shop button -->
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center text-center">
            <a href="{% url 'products' %}" class="fs-1 fs-md-2 btn btn-success btn-large rounded-2 text-uppercase py-3">Enter shop</a>
        </div>  
    </div>
</div>
{% endblock %}