{% extends 'base.html' %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto bg-light opacity-75 bg-gradient rounded-1 ">
            <h1 class="display-4 py-2 px-3 opacity-100 text-center">Lorem Ipsum Blah Blah Blah</h1>
        </div>
        <div class="">
            <a href="" class="btn btn-light btn-large rounded-1 text-uppercase py-3">Enter shop</a>
        </div>  
    </div>
</div>
{% endblock %}