<!-- templates/blog.html -->
{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
  <!-- Meta Tags for SEO -->
  <meta name="description" content="GlouGlou Natural Wine Store Blog | {{ post.title }}, {{ post.author }}">
  <meta name="keywords" content="Natural Wine, Minimum Intervention Wine, Organic, Biodynamic, Natural Wine Blog, {{ post.title }}, {{ post.author }}">
{% endblock %}

{% block extra_title %}GlouGlou Natural Wine | Blog{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
                <img class="card-img-top img-fluid rounded-2" src="{{ post.featured_image.url }}" alt="{{ recipe.title }}" style="width: 100%; height: auto;">
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <h3>{{ post.title }}</h3>
                <p>Posted by: {{ post.author }} on {{ post.posted_on }}</p>
                <div>{{ post.post|safe }}</div>
                <div class="submit-button text-right mt-5 mb-2">
                    <a href="{% url 'blog' %}" class="btn btn-secondary">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">Return to Blog</span>
                    </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}