<!-- templates/blog.html -->
{% extends "base.html" %}
{% load static %}

{% block extra_title %}GlouGlou Natural Wine | Blog{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid">
        <p>GlouGlou Blog</p>
        {% for post in posts %}
            <div>
                <h2>{{ post.title }}</h2>
                <p><strong>Author:</strong> {{ post.author.username }}</p>
                <p><strong>Date:</strong> {{ post.posted_on|date:"F d, Y" }}</p>
                <p>{{ post.post|truncatewords:50 }}</p>  <!-- Display first 50 words -->
                <a href="{% url 'blog_post' post.id %}">Read more</a>
            </div>
            <hr>
            {% empty %}
                <p>No blog posts available.</p>
            {% endfor %}
    </div>
{% endblock %}