/* Importing typefaces from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Prevents horizontal scroll */
    font-family: 'Rubik', Helvetica, sans-serif
}

body {
    padding-top: 250px; /* Pushes the content down to leave space for the fixed header */
    background: url("/static/images/homepage_img.940ae882bb65.jpg") no-repeat center center fixed;
    background-size: cover;
    box-sizing: border-box;
    overflow-y: scroll;
}

.product-description, .product-description p, .product-description span {
    font-family: 'Rubik', sans-serif !important;
    font-size: 1rem !important;
    line-height: 1.6 !important;
    color: inherit;
}

.filters {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.filters .filter_by {
    text-decoration: none;
    color: inherit;
}
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #f0f0f0;
	z-index: -1;
}

/* Ensure the header has the right height and is fixed at the top */
.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 200px;
    z-index: 100; /* Ensure the header stays on top */
    background-color: #fff;
}

.navbar {
    background-color: #fff !important;
    z-index: 111;
    width: 100%;
    height: auto;
}
 
/* Positioning Bootstrap toasts */
.message-container {
    position: fixed;
    top: 20px; /* Adjust as needed */
    right: 20px;
    z-index: 999999999;
}

.bag-notification-wrapper {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Making the filter scrollable */
#filterCollapse {
    max-height: 100vh;
    overflow-y: visible;
    padding-bottom: 20px
}

/* Media queries */
@media (max-width: 768px) {
     /* Make sure the navbar buttons take full width */
    .navbar .btn-group {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    /* Add padding to the search bar */
    form.d-flex {
        padding-top: 20px;
    }
    
  }


@media (min-width: 1025px) {
    /* Navbars expand on hover on larger screens */
    .dropdown:hover>.dropdown-menu {display: block;}
}

/* Adjust container behavior for larger screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}
